/*+++++++++++++++++ GENERAL+++++++++++++ */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* line-height:0; */
}
html{
  font-size:calc(0.8vw + 10px);
}
body{
  min-width: 320px;
  max-width:1300px;
  margin:0 auto;
}
li{
  list-style:none;
}
a{
  text-decoration:none;

}
.flex-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-column{
  display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
    -ms-align-items: center;
  align-items: center;
}
img{
  width: 100%;
}
/* ++++++++++++++++++++HEADER+++++++++++++++++ */

nav.flex-row{
  /* height:7vh; */
  align-items:stretch;
  }
.logo{
  width: 40%;
  padding:1vh 3%;
  background:url(../img/logo-bg.png)repeat-x;

}
.logo div{
  width: 20%;
  transition: all 0.5s ease-in-out;
}
.logo div:hover{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor:pointer;
}
.logo p a{
  text-transform: uppercase;
  font:italic 0.8rem 'Open Sans', sans-serif;
  align-content: center;
  color:#fff;
  transition: all 0.5s ease-in-out;
}
.logo p a:hover{
  font-size:1.2rem;
}
.menu{
  width: 75%;
  background-image:-moz-linear-gradient( 90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.1) 100%), url(../img/menu-bg.png);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.1) 100%), url(../img/menu-bg.png);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,.2) 0%, rgba(255,255,255,.1) 100%), url(../img/menu-bg.png);
  /* background-size:cover; */
}

.menu ul{
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.menu li{
  display: block;
  align-items: center;
  width:50% ;
  padding:3vh 2%;
  /* height: 100%; */
  border-right:1px solid #b99403;
}
.menu li a{
  padding-left:23%;
  width: 100%;
  color:#b99403;
  font: 0.7rem 'Lato', sans-serif;
  text-transform:uppercase;

}
.menu li a:hover{
  color:#fae100;
  transition: all 0.5s;
}
.none{
  /* display: none; */

}
.about{
  background: url(svg/about.svg) no-repeat;
}
.services{
  background:url(svg/services.svg) no-repeat;
}
.contact{
  background:url(svg/contact.svg) no-repeat;
}
/* +++++++++++++++++++VIDEO+++++++++++++++++++++ */
video{
  width:100%;
  max-height: 100%;
  background-color:rgba(245, 197, 7);
  /* -o-transition: all 0.5s ease-in-out;      для широких экранов
  transition: all 0.5s ease-in-out; */
}

/* video:hover{                 для широких экранов
  opacity: 0.5;
  cursor: pointer;
} */
/* ++++++++++++++++++ADVERTISING+++++++++++++ */
.advertising{
  height: 28.13vw;
  background:url(../img/advertising-bg.png) repeat;
}
.advertising_item{
  width: 30%;
  height:16vw;
  justify-content: flex-end;
}
.advertising_item_img{
  width: 40%;
  margin:2%;

}
.item_img{
  width: 20px;
}
.advertising_item_text p{
  text-transform: uppercase;
  font:1rem 'Segoe UI', sans-serif;
}
/* ++++++++++++++++DESCRIPTION++++++++++++++ */

.description_text, .description_video{
  width: 50%;
  padding:2%;
  height:28.13vw;
}
.description_text p{
  font:1rem/1.2 'Lato', sans-serif;
  padding:3.28vw 5.5vw;
  background-color:#ec9e03;
  color:#fff;
  height: 100%;
  overflow:hidden;
    -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
/* +++++++++++++++TWITTER+++++++++++++++++++ */
.twitter{
  padding:3.59vw 5vw 1vw 5vw;
  background-color:#f5c507;

}
.twitter_img{
  width: 40%;
  justify-content: center;
  align-items: center;
}
.twitter_form{
  width: 50%;

}
.twitter_item{
  border-radius:6px;
  background-color:#fceeb5;
  padding:2%;
  margin-bottom:1vw;
  box-sizing: border-box;
  position: relative;

}
.twitter_item::after{
  content:' ';
  width: 8px;
  height: 16px;
  background-image:url(../img/beak.png);
  position:absolute;
  top:30%;
  left:-6px;

}
.twitter_item p{
  font:0.8rem Arial, sans-serif;
}
.twitter_form form{
  width: 100%;
  justify-content: center;
}
.twitter_form input, .twitter_form  button{
  padding:3%;
  border:1px solid #d0a806;
  outline: none;
  font:0.8rem Arial, sans-serif;
}
.twitter_form input{
  width: 70%;
  margin-right: 0;
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: inset 3px 3px 5px rgba(0,0,0,.1);
}
.twitter_form  button{
  width: 30%;
  margin-left:0;
  border-left:none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: linear-gradient(0deg, #d08f0c, #e9a826);


}
/* ++++++++++++++++++FREE++++++++++++++++ */
.free{
  padding:7vw 2% 12.81vw;
  background-color:#474747;
  position: relative;
  box-shadow: inset 0 -5px 4px 0 rgba(0,0,0,.75);
}
.free h2{
  color:#f5c506;
  text-transform: uppercase;
  text-align: center;
  font:1.4rem Arial, sans-serif;
  margin-bottom:13vw;
}
.free_img{
  align-items:baseline;
  opacity:0.5;
}
.free_img_item{
  margin:0 4%;
}

.free_text{
  width: 18.12vmin;
  height: 18.12vmin;
  background-color:#f5c506;
  border-radius:100%;
  justify-content: center;
  position: absolute;
  top:18vw;
  left: 3%;
}
.free_text p{
  font-size: 0.65rem;
  color:#fff;
  text-transform: uppercase;
}
.desktop{
  position: relative;
}
.desktop::before{
  content: '';
  background: url(../img/desktop-1.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top:97%;
  left:0;
  background-size: contain;
}

/* +++++++++++++++++FOOTER+++++++++++++++ */
footer{
  background-color: #4c4c4c;
}
footer .logo{
  padding:2vh 3%;
  background:none;
}
/* footer .logo div:hover{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor:pointer;
}

footer .logo p a:hover{
  font-size:1.2rem;
} */
